*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--clr-surface-a0);
  background-image: url("../assets/imgs/unitrack-images/pattern-blue.png");
  background-repeat: repeat;
  color: var(--clr-contrast-a0);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
}

.student-home {
  max-width: 1200px;
  margin: 53px auto 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding:50px;
}






.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top:20px; /*putting some space between navbar and header */
  font-size:large;
}




.courses h2 {
  text-align: left;
}

.courses p {
  color: var(--clr-contrast-a30);
  text-align: left;
}




.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ensures full width usage */
  gap: 20px;
  width: 100%;
}

.course-grid a{
  text-decoration: none;
  color:var(--clr-contrast-a0);
}
/* MORE BTN */

  .course-grid {
      flex-direction: column;
      align-items: center;
  }

  .hero h1 {
    font-size: 1.2rem;
  }

  .search-bar {
    width: 90%;
  }
  .main-header{
    justify-content: left;
    font-size: 1em;
  }


@media (prefers-color-scheme: dark) {
  body {
      background-image: url("../assets/imgs/unitrack-images/pattern-white.png");
  }
}

@media (prefers-color-scheme: light) {
  .search-bar {
    background-color: var(--clr-surface-a10);
  }

  .course-card:hover {
    border: 1px solid var(--clr-primary-a0);
  }
}