/* Body Styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--clr-surface-a10);
    background-repeat: repeat;
    background-size: cover;
}