*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    background-color: var(--clr-surface-a0);
    border-bottom: 1px solid var(--clr-surface-a20);
    height: 100%;
    font-size: 0.85rem;
}

/* Left Section (User Info) */
.navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-right: 1px solid var(--clr-surface-a20);
    height: 100%;
}

.nav-bar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid var(--clr-surface-a20);
}

.nav-image {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
}

.bordered-div {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
}

.use-cases {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
}

.nav-item:hover {
    background-color: var(--clr-surface-a10);
}

.username {
    color: var(--clr-contrast-a0);
    font-weight: 500;
}

.dropdown-icon {
    color: var(--clr-contrast-a0);
    font-size: 1.25rem;
}

/* Center Menu */
.navbar-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu li a {
    text-decoration: none;
    color: var(--clr-contrast-a0);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: color 0.3s ease;
}

.milestones-btn {
    background-color: var(--clr-primary-a0);
    color: white;
    font-size: 0.85rem;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.milestones-btn:hover {
    background-color: var(--clr-primary-a20);
    transform: scale(1.05);
}

.mobile-menu {
    display: none;
}

.browse-btn {
    background: none;
    border: none;
    color: var(--contrast);
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .username {
        display: none;
    }
}

@media (max-width: 800px) {
    .mobile-menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

