*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../assets/imgs/unitrack-images/pattern-black.png");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border-bottom: 1px solid grey;
    padding: 1rem;
}

.course-table {
    background-color: #fff5;
    backdrop-filter: blur(4px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    overflow: hidden;
}