*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--clr-surface-a0);
    background-image: url("../assets/imgs/unitrack-images/pattern-blue.png");
    background-repeat: repeat;
    color: var(--clr-contrast-a0);
    font-family: "Inter", sans-serif;
    font-size: 0.85rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../assets/imgs/unitrack-images/pattern-white.png");
    }
}

.register {
    height: calc(100vh - 53px); /* full screen height minus navbar height */
    margin: 50px auto 1rem auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* LEARNING PATH HEADER */
.register-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    background-color: var(--clr-surface-a10);
    padding: 1rem;
    border: 1px solid var(--clr-surface-a20);
    border-radius: 10px;
}

.register-top-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.register-title {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
}

.major-tag {
    font-size: 0.85rem;
    background-color: var(--clr-primary-a0);
    color: #f5f5f5;
    padding: 0.25rem .5rem;
    border-radius: 12px;
}

.register-description {
    color: var(--clr-contrast-a0);
}

.register-body {
    position: relative;
    height: 100%;
    background-color: var(--clr-surface-a10);
    margin: 1rem;
    border-radius: .6rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.register-body::-webkit-scrollbar {
    display: none;
}

.register-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.search-bar-div {
    background-color: var(--clr-surface-a10);
    padding: 1rem;
    border-bottom: 1px solid var(--clr-surface-a20);
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    width: 30rem;
    max-width: 100%;
    margin: 0 auto;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--clr-contrast-a0);
    padding: 0.5rem;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;
}


.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-contrast-a0);
}

.search-info {
    text-align: center;
    font-size: 0.85rem;
    color: var(--clr-contrast-a30);
    margin-top: 0.5rem;
}

.search-bar i {
    font-size: 0.75rem;
    color: var(--clr-contrast-a0);
    transition: color 0.3s ease;
}

.search-bar i:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .search-bar {
        width: 90%;
    }
}

/* NO RESULTS FOUND */
.no-results {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-contrast-a40);
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.no-results-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: var(--clr-surface-a10);
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Default to dark mode */
.dark-mode-svg {
    width: 12rem;
    height: 12rem;
    display: block;
}

.light-mode-svg {
    width: 12rem;
    height: 12rem;
    display: none;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    .dark-mode-svg {
        display: none;
    }
    .light-mode-svg {
        display: block;
    }
}

.no-results p {
    font-size: 1rem;
    color: var(--clr-contrast-a30);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--clr-primary-a20);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead th[colspan="8"] {
    padding: 0;
    background-color: var(--clr-primary-a20);
}

thead tr:nth-child(2) th {
    padding: 1rem 1rem 1rem 1rem;
    white-space: nowrap;
}

td {
    padding: 1rem;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

tbody tr td button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    background-color: var(--clr-primary-a0);
    color: var(--clr-contrast-a0);
    border: 0;
}

tbody tr td button:hover {
    background-color: var(--clr-primary-a10);
    cursor: pointer;
}

.data.course-no span {
    height: 2.5rem;
    width: 5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.7rem;
    background-color: var(--clr-primary-a0);
    color: var(--clr-contrast-a0);
    border: 0;
}

.data.course-no span {
    cursor: pointer;
}

.data.course-name, .data.course-section span {
    font-weight: 700;
}



.data.course-enrollment span {
    height: 2.5rem;
    width: 5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--clr-surface-a50);
}

.course-status .status-badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 12px;
    background-color: var(--contrast-a0);
    font-weight: bold;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status-approved .status-circle {
    background-color: rgb(50, 222, 50);
}
.status-pending .status-circle {
    background-color: yellow;
}
.status-rejected .status-circle {
    background-color: red;
}

.course-button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    border: 0;
    background-color: var(--clr-primary-a0);
    color: var(--clr-contrast-a0);
    cursor: pointer;
}

.course-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}


@media (max-width: 768px) {

    .register-description{
        display: none;
    }

    .register-top-header {
        flex-direction: column;
        gap: 0.5rem;
    }

    .register-title {
        text-align: center;
        font-size: 1.2rem;
    }
}