*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--clr-surface-a0);
  background-image: url("../assets/imgs/unitrack-images/pattern-blue.png");
  background-repeat: repeat;
  color: var(--clr-contrast-a0);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
}

.student-home {
  max-width: 1200px;
  margin: 53px auto 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.hero {
  background: var(--clr-surface-a0);
  border: 1px solid var(--clr-surface-a20);
  color: var(--clr-contrast-a0);
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 30rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hero h1 span {
  color: var(--clr-surface-a50);
  transition: color 0.2s ease-in-out;
}

.hero h1 span:hover {
  color: var(--clr-primary-a0);
}

.search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: .25rem 1rem;
  width: 24rem;
  margin: 0 auto;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--clr-contrast-a0);
  padding: .5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.search-bar input::placeholder {
  color: var(--clr-surface-a50);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-contrast-a0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar i {
  font-size: 0.75rem;
  color: var(--clr-contrast-a0);
  transition: color 0.3s ease;
}

.search-bar i:hover {
  cursor: pointer;
}


.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.courses-header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
}

.courses-header-right {
  align-self: flex-end;
}

.courses h2 {
  text-align: left;
}

.courses p {
  color: var(--clr-contrast-a30);
  text-align: left;
}

.browse-courses {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-primary-a0);
  transition: color 0.3s ease-in-out;
}

.browse-courses:hover {
  color: var(--clr-primary-a20);
}

.browse-courses i {
  font-size: 0.65rem;
  transition: transform 0.3s ease-in-out;
  transform: translateY(2px);
}

.browse-courses:hover i {
  transform: translate(4px, 2px);
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ensures full width usage */
  gap: 20px;
  width: 100%;
}

/* MORE BTN */

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: var(--clr-primary-a0);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.more-btn:hover {
  background: var(--clr-primary-a10);
}

/* COURSE CARD */
.course-card {
  display: flex;
  background: var(--clr-surface-a10);
  padding: 1rem;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  min-width: 280px;
  align-items: center;
  gap: 1rem;
  
  display: grid;
  grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.course-card:hover {
  transform: translateY(-0.5rem); /* move card slightly up */
  background: linear-gradient(
      135deg,
      var(--clr-surface-a0) 30%,
      var(--clr-primary-a0) 100%
  ); /* put a gradient background */
  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* COURSE IMAGE */
.course-image {
  background: var(--clr-surface-tonal-a20);
  aspect-ratio: 1 / 1; 
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-height: 10rem;
  height: auto;
}

.course-image img {
  object-fit: contain; /* center and keep aspect ratio */
}

/* HOVER ICON */
.hover-icon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(-45deg, rgba(5, 5, 6, 0.8), rgba(116, 116, 116, 0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hover-icon i{
  color: #f5f5f5;
}

.hover-icon:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.course-card:hover .hover-icon {
  background: var(--clr-primary-a0);
}

/* click hint icon on hover */
.course-card .top-right-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  color: var(--clr-contrast-a0);
  opacity: 0;
  transform: translateY(-10px) translateX(10px);
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-out;
}

.course-card:hover .top-right-icon {
  opacity: 1;
  transform: translateY(0) translateX(0);
  animation: bounceIn 0.2s ease-out;
}

/* bouncing effect keyframes */
@keyframes bounceIn {
  0% {
    transform: translateY(-10px) translateX(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(2px) translateX(-2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/* TOOLTIP */
.hover-icon .hover-text {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-contrast-a50);
  color: var(--clr-surface-a0);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.hover-icon:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

/* add a triangle below the hover text */
.hover-icon .hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: var(--clr-contrast-a50) transparent transparent transparent;
}

/* COURSE INFO */
.course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

/* HEADER (TITLE & TAG) */
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CODE TAG */
.course-tag {
  background: var(--clr-primary-a0);
  color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.course-tag i {
  color: var(--clr-contrast-a0);
}

/* SEMESTER */
.semester {
  color: var(--clr-surface-a50);
  font-size: 0.9rem;
}

.course-card:hover .semester {
  color: #f5f5f5;
}

/* TITLE */
.course-info h3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}

/* SUBTITLE - TRUNCATE AT 2 LINES */
.course-subtitle {
  color: var(--clr-contrast-a30);
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* TAGS */
.course-tags {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.tag {
  color: var(--clr-contrast-a0);
  border: 1px solid var(--clr-surface-a20);
  padding: .25rem .5rem;
  border-radius: 12px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.tag i {
  color: var(--clr-primary-a0);
  font-size: 0.7rem;
}


@media (max-width: 768px) {
  .course-grid {
      flex-direction: column;
      align-items: center;
  }

  .hero h1 {
    font-size: 1.2rem;
  }

  .search-bar {
    width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-image: url("../assets/imgs/unitrack-images/pattern-white.png");
  }
}

@media (prefers-color-scheme: light) {
  .search-bar {
    background-color: var(--clr-surface-a10);
  }
}